/**
 * Variables
 */
$mainColor: #A6234A;
$mainColorHover: #8E0A32;
$greenColor: #158555;
$lightGreen: #A0BB1E;
$darkRed: #690020; 
$textColor: #3f3f3f;

/**
 * Vendor styles
 */
@import '../node_modules/normalize.css/normalize';
@import '../node_modules/basscss/css/basscss';
@import '../node_modules/basscss-responsive-margin/css/responsive-margin';
@import '../node_modules/basscss-responsive-padding/css/responsive-padding';
@import '../node_modules/font-awesome/css/font-awesome';


/**
 * General style
 */
@import 'general/fonts.scss';
@import 'general/overwrite.scss';
@import 'general/general.scss';


/**
 * Layout style
 */
@import 'layout/header.scss';
@import 'layout/footer.scss';


/**
 * Components style
 */
@import 'components/hero.scss';
@import 'components/event.scss';
@import 'components/category.scss';
@import 'components/feature.scss';


/**
 * Pages style
 */
@import 'pages/page.scss';
