.footer {
	background: #2E3038;
	color: #7f848e;

	&__heading {
		color: #fff;
	}

	&__list {
		margin-top: .6rem;
	}

	&__icon {
		margin-right: 1rem;
		width: 10px;
		color: #c8d2d8;
	}

	&__link {
		color: #7f848e;
		text-decoration: none;
		transition: .5s all;

		&:hover {
			color: #fff;
		}
	}
}