.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	transition: .5s all;

	&__h1 {
		margin: 0;
		padding-top: 15px;
	}

	&__link {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		letter-spacing: 1px;
		transition: .5s all;


		&:hover {
			text-decoration: underline;
		}
	}

	&__logo {
		transition: .5s all;
		max-width: 158px;
	}

	&__link--featured {
		background: $mainColor;
		padding: .8rem 1rem;
		border-radius: 10px;
		transition: .5s all;

		&:hover {
			text-decoration: none;
			background: $mainColorHover;
		}
	}

	&__link--featuredGreen {
		background: $greenColor;

		&:hover {
			background: $lightGreen;
		}
	}

	&--sticky {
		background: rgba(0,0,0,.7);

		.header__logo {
			max-width: 100px;
		}
	}


	&__subMenu {
		position: absolute;
		background: #fff;
		border-radius: 10px;
		min-width: 200px;
		padding: 1rem;
		visibility: hidden;
  		opacity: 0;
  		transform: translateY(-2em);
	  z-index: -1;
	  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

	}

	&__subMenuLink {
		color: $textColor;
		text-decoration: none;
		margin-bottom: 1rem;
		display: block;
	}

	&__subMenu .header__subMenuList:last-child .header__subMenuLink {
		margin-bottom: 0;
	}

	&__button {
		background: #fff;
		position: absolute;
		top: 22.5px;
		right: 15px;
		width: 40px;
		height: 40px;
		border-radius: 10px;
		padding: 0;
	}
}

.header__list:hover .header__subMenu {
	visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1; 
    transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s;
}

@media (max-width: 52em) {
	.header {
		background: rgba(0,0,0,.7);

		&__logo {
			max-width: 100px;
		}
	}

	.header__navigation  {
		display: none;
	}

	.header__list  {
		display: block;
		margin: 1rem 0;
		padding-bottom: 1rem;
		border-bottom: 1px solid #fff;
	}

	.header__list:last-child  {
		border-bottom: none;
	}

	.header__cont {
		display: block;
	}
}