@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto&subset=latin-ext');

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $textColor;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}