.field {
	padding: 15px 10px;
  	font-family: 'Roboto', sans-serif;
  	color: #74748A;
}

.rounded {
    border-radius: 10px;
}

.btn {
	padding: 10px 15px;
	border: none;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: .5s all;
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}
}

.btn--primary {
	background: $mainColor;
	color: #fff;
	text-transform: uppercase;

	&:hover {
		background: $mainColorHover;
	}
}

.btn--secondary {
	background: $greenColor;
	color: #fff;
	text-transform: uppercase;
	border-radius: 10px;
	padding: 15px 20px;

	&:hover {
		background: $lightGreen;
	}
}

.titleV1 {
	color: $mainColor;
}

.titleV2 {
	color: $greenColor;
}

.titleV3 {
	color: $lightGreen;
}

.titleV4 {
	color: $darkRed;
}

.section--gray {
	background-color: #fbfbfb;
}

.patternV1 {
    background: url(../images/pattern5.png) center center repeat-y;
    background-size: auto;
}

.patternV2 {
    background-image: url(../images/pattern1a.png);
}

.notice {
	background: $lightGreen;
	margin-bottom: 1rem;
	border-radius: 10px;
	color: #fff;
	padding: 1rem;

	&__icon {
		margin-right: 10px;
	}

	&--important {
		background: $mainColor;
	}
}