.category {
	position: relative;
	background: #000;
	border-radius: 10px;
	overflow: hidden;

	&__image {
		display: block;
		opacity: .6;
		width: 100%;
		transition: 0.5s all;
	}

	&__heading {
		margin: 0;
		opacity: 1;
		transition: 0.5s all;
	}

	&__link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    color: #fff;
	    text-decoration: none;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	}
}

.category:hover .category__image {
	-webkit-transform: scale(1.05);
 	transform: scale(1.05);
 	opacity: 1;
}

.category:hover .category__heading {
	opacity: 0;
}
