.event {

	background: #fff;
	border-radius: 10px;


	&__content {
		padding: 1rem;
	}

	&__content--noPadding {
		padding: 0;
	}

	&__imgCont {
		position: relative;
		background: #000;
		border-radius: 10px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		overflow: hidden;
	}

	&__image {
		opacity: .7;
		display: block;
		width: 100%;
		transition: .5s all;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&__price {
		position: absolute;
		bottom: 15px;
		right: 15px;
		background: $greenColor;
		color: #FFF;
		text-transform: uppercase;
		padding: 10px;
		border-radius: 10px;
		font-size: 12px;
	}

	&__price--v2 {
		background: $lightGreen;
	}

	&__price--v3 {
		background: $darkRed;
	}

	&__price--v4 {
		background: $mainColor;
	}

	&__link {
		color: $textColor;
		text-decoration: none;
	}
	
	&__icon {
		color: $mainColor;
	}

	&__icon--white {
		color: #fff;
		margin-right: 10px;
	}

	&__icon--white:last-child {
		margin-left: 30px;		
	}

	&__text {
		margin-bottom: 0;
	}
}

.event:hover .event__image {
	opacity: 1;
	-webkit-transform: scale(1.05);
 	transform: scale(1.05);
}