.feature {
	background: #f7f7f7;
	padding: 2rem;
	transition: .5s all;
	border-radius: 10px;

	&__icon {
		font-size: 5em;
	}

	&__link {
		text-decoration: none;
		color: $textColor;
		transition: .5s all;
	}

	&:hover {
		background: $mainColor;
		color: #fff;
		-webkit-transform: scale(1.05);
 		transform: scale(1.05);

		.feature__link {
			color: #fff;
		}
	}
}