.hero {
	background: url('../images/heroImage.jpeg') center top no-repeat;
    background-attachment: fixed;
    color: #fff;

	&__flex {
		height: 700px;		
	}

	&__title {
		letter-spacing: 1px;
		font-size: 2.5em;
		text-transform: uppercase;
	}

	&__text {
	    font-size: 1.3em;
    	line-height: 1.5;
	}
}

.hero--small {
	background: url('../images/heroImage.jpeg') center center no-repeat;
	.hero__flex {
	    height: 400px;
    	padding-top: 113px;
	}
}

.hero--extraSmall {
	background: url('../images/heroImage.jpeg') center center no-repeat;
	.hero__flex {
	    height: 300px;
    	padding-top: 113px;
	}
}
